@use 'reset';

@font-face {
  font-family: 'FlourFont';
  /* 自訂字型名稱 */
  src: url('../font/jf-openhuninn-2.0.ttf')
}

main {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

#search-box {
  display: flex;
  flex-direction: column;
  /* 將方向設置為垂直排列 */


  height: auto;
  width: 25%;
  margin-top: 100px;
  padding-left: 20px;


}

.tab {

  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  height: auto;
  display: flex;


  button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

    &:hover {
      background-color: #ddd;
    }

    .active {
      background-color: #ccc;
    }
  }
}

#search-line {
  h3 {
    font-family: 'FlourFont', sans-serif;
    font-size: 24px;
  }

  .tag {
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .selected {
    background-color: #007BFF;
    color: white;
  }
}

/* Style the tab content */
.search {

  padding: 0px;
  border: 1px solid #ccc;
  width: 100%;

  height: 300px;
  display: flex;
  flex-direction: column;
}


// map區

#map {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .line-group {
    display: none;


  }

  .active {
    display: block;
  }

}


.mrt-svg {

  /* 圖片容器的寬度，可根據需求設置 */
  max-width: 100%;

  height: auto;

  margin: 50px;
  position: relative;

  .point {
    width: 30px;
    height: 30px;
    
    
   
    &:hover {
      color: red; /* 悬停时字体变红 */
      text-decoration: underline; /* 添加下划线 */
      cursor: pointer;
    }
  }
}

.bg {
  filter: brightness(100%);
  opacity: 1;
  transition: filter 0.3s ease, opacity 0.3s ease;

  &.dimmed {
    filter: brightness(50%);
    opacity: 0.2;
  }
}


#red-line {

  .line {

    width: 689px;
    height: auto;
    x: 70px;
    y: 0px;



  }
 



  .Xinbeitou {
    x: 230px;
    y: 88px;
  }

  .Danshui {
    x: 115px;
    y: 0px;
  }

  .Hongshulin {
    x: 115px;
    y: 40px;
  }

  .Zhuwei {
    x: 115px;
    y: 75px;
  }

  .Guandu {
    x: 115px;
    y: 115px;
  }

  .Zhongyi {
    x: 140px;
    y: 145px;
  }

  .Fuzinggang {
    x: 185px;
    y: 145px;
  }

  .Beitou {
    x: 230px;
    y: 145px;
  }

  .Qiyan {
    x: 275px;
    y: 145px;
  }

  .Qilian {
    x: 320px;
    y: 145px;
  }

  .Shipai {
    x: 355px;
    y: 170px;
  }

  .Mingde {
    x: 355px;
    y: 210px;
  }

  .Zhishan {
    x: 355px;
    y: 250px;
  }

  .Shilin {
    x: 355px;
    y: 290px;
  }

  .Jiantan {
    x: 355px;
    y: 325px;
  }

  .Yuanshan {
    x: 355px;
    y: 365px;
  }

  .Minquan {
    x: 355px;
    y: 410px;
  }

  .Shuanglian {
    x: 355px;
    y: 450px;
  }

  .Zhongshan {
    x: 355px;
    y: 486px;
  }

  .Taipei-Main {
    x: 355px;
    y: 555px;
  }

  .NTUH {
    x: 355px;
    y: 600px;
  }

  .Chian-Kai-Shek {
    x: 355px;
    y: 635px;
  }

  .Dongmen {
    x: 445px;
    y: 635px;
  }

  .Daan-Park {
    x: 500px;
    y: 635px;
  }

  .Daan {
    x: 560px;
    y: 635px;
  }

  .Xinyi-Anhe {
    x: 620px;
    y: 635px;
  }

  .Taipei101 {
    x: 676px;
    y: 635px;
  }

  .Xiangshan {
    x: 726px;
    y: 635px;
  }

}

// 板南線 (藍線)
#blue-line {
  .line {

    width: 888.5px;
    height: auto;
    x: 90.25px;
    y: 447.15px;
    // 讓 blue-line 的線條不攔截點擊事件 
    pointer-events: none;
  }
  .point
  {
    // 讓 blue-line 的點仍可被點擊（如果有點的互動需要）
    pointer-events: auto;
  }

  .Nangang-Exhibition {
    x: 858px;
    y: 445px;
  }

  .Nangang {

    x: 858px;
    y: 483px;
  }

  .Kunyang {
    x: 858px;
    y: 525px;
  }

  .Houshanpi {
    x: 830px;
    y: 556px;
  }

  .Yongchun {
    x: 775px;
    y: 556px;
  }

  .TCH {
    x: 720px;
    y: 556px;
  }

  .Memorial-Hall {
    x: 670px;
    y: 556px;
  }

  .Zhongxiao-Dunhua {
    x: 620px;
    y: 556px;
  }

  .Zhongxiao-Fuxing {
    x: 550px;
    y: 556px;
  }

  .Zhongxiao-Xinsheng {
    x: 455px;
    y: 556px;
  }

  .Shandao-Temple {
    x: 410px;
    y: 556px;
  }

  .Taipei-Main {
    x: 355px;
    y: 555px;
  }

  .Ximen {
    x: 285px;
    y: 555px;
  }

  .Longshan-Temple {
    x: 210px;
    y: 555px;
  }

  .Jiangzicui {
    x: 160px;
    y: 595px;
  }

  .Xinpu {
    x: 160px;
    y: 640px;
  }

  .Banciao {
    x: 160px;
    y: 685px;
  }

  .Fuzhong {
    x: 160px;
    y: 730px;
  }

  .FEH {
    x: 160px;
    y: 765px;
  }

  .Haishan {
    x: 160px;
    y: 805px;
  }

  .Tucheng {
    x: 160px;
    y: 845px;
  }

  .Yongning {
    x: 160px;
    y: 885px;
  }

  .Dingpu {
    x: 160px;
    y: 925px;
  }

}

//  中和新蘆線 (橙線) 
#orange-line {
  .line {

    width: 544.65px;
    height: auto;
    x: 3.9px;
    y: 227.7px;
    pointer-events: none;
  }
  .point
  {
    // 讓 blue-line 的點仍可被點擊（如果有點的互動需要）
    pointer-events: auto;
  }

  .Luzhou {
    x: 150px;
    y: 225px;
  }

  .SSHS {
    x: 150px;
    y: 275px;
  }

  .IHS {
    x: 150px;
    y: 320px;
  }

  .SJHS {
    x: 175px;
    y: 355px;
  }

  .SES {
    x: 210px;
    y: 380px;
  }

  .Huilong {
    x: 5px;
    y: 740px;
  }

  .Danfeng {
    x: 5px;
    y: 700px;
  }

  .FJU {
    x: 5px;
    y: 655px;
  }

  .Xinzhuang {
    x: 5px;
    y: 615px;
  }

  .Touqianzhuang {
    x: 45px;
    y: 575px;
  }

  .Xianse-Temple {
    x: 90px;
    y: 535px;
  }

  .Sanchong {
    x: 135px;
    y: 500px;
  }

  .Cailiao {
    x: 170px;
    y: 470px;
  }

  .Taipei-Bridge {
    x: 210px;
    y: 438px;
  }

  .Daqiaotou {
    x: 280px;
    y: 410px;
  }

  .Minquan {
    x: 355px;
    y: 410px;
  }

  .ZES {
    x: 425px;
    y: 410px;
  }

  .Xingtian-Temple {

    x: 455px;
    y: 440px;
  }

  .Songjiang-Nanjing {
    x: 455px;
    y: 485px;
  }

  .Zhongxiao-Xinsheng {
    x: 455px;
    y: 556px;
  }

  .Dongmen {
    x: 445px;
    y: 635px;
  }

  .Guting {
    x: 400px;
    y: 670px;
  }

  .Dingxi {
    x: 380px;
    y: 715px;
  }

  .Yongan-Market {
    x: 380px;
    y: 755px;

  }

  .Jingan {
    x: 380px;
    y: 795px;
  }

  .Nanshijiao {
    x: 380px;
    y: 840px;
  }



}

// 環狀線 (黃線) 
#yellow-line {
  .line {

    width: 650px;
    height: auto;
    x: 19px;
    y: 482px;
    pointer-events: none;
  }
  .point{
    pointer-events: auto;
  }

  .NTIP {
    x: 15px;
    y: 495px;
  }

  .Xingfu {
    x: 18px;
    y: 535px;
  }

  .Touqianzhuang {
    x: 45px;
    y: 575px;
  }

  .Xinpu-Minsheng {
    x: 128px;
    y: 640px;
  }

  .Banciao {
    x: 160px;
    y: 685px;
  }

  .Banxin {
    x: 220px;
    y: 710px;
  }

  .Zhongyuan {
    x: 250px;
    y: 740px;
  }

  .Qiaohe {
    x: 290px;
    y: 775px;
  }

  .Zhonghe {
    x: 325px;
    y: 800px;
  }

  .Jingan {
    x: 380px;
    y: 795px;
  }

  .Jingping {
    x: 440px;
    y: 800px;
  }

  .Xiulang-Bridge {
    x: 480px;
    y: 820px;
  }

  .Shisizhang {
    x: 525px;
    y: 840px;
  }

  .Dapinglin {
    x: 585px;
    y: 835px;
  }

}



//  文湖線 (棕線)
#brown-line {
  .line {

    width: 504.6px;
    height: auto;
    x: 490.3px;
    y: 252px;
    pointer-events: none;
  }
  .point{
    pointer-events: auto;
  }

  .Nangang-Exhibition {
    x: 858px;
    y: 445px;
  }

  .Nangang-Software-park {
    x: 858px;
    y: 400px;
  }

  .Donghu {
    x: 858px;
    y: 358px;
  }

  .Huzhou {
    x: 858px;
    y: 310px;
  }

  .Dahu-Park {

    x: 810px;
    y: 310px;
  }

  .Neihu {
    x: 755px;
    y: 310px;
  }

  .Wende {
    x: 710px;
    y: 310px;
  }

  .Gangqian {
    x: 660px;
    y: 310px;
  }

  .Xihu {
    x: 610px;
    y: 310px;
  }

  .Jiannang-Rd {
    x: 555px;
    y: 310px;
  }

  .Dazhi {
    x: 553px;
    y: 360px;
  }

  .Songshan-Airport {
    x: 553px;
    y: 400px;
  }

  .ZJHS {
    x: 553px;
    y: 440px;
  }

  .Nanjing-Fuxing {
    x: 550px;
    y: 485px;
  }

  .Zhongxiao-Fuxing {
    x: 550px;
    y: 556px;
  }

  .Daan {
    x: 560px;
    y: 635px;
  }

  .Technology-Building {
    x: 555px;
    y: 675px;

  }

  .Liuzhanli {
    x: 615px;
    y: 690px;
  }

  .Linguang {
    x: 680px;
    y: 690px;
  }

  .Xinhai {
    x: 710px;
    y: 720px;
  }

  .WH {
    x: 710px;
    y: 760px;
  }

  .WC {
    x: 710px;
    y: 795px;
  }

  .Muzha {
    x: 745px;
    y: 825px;
  }

  .Zoo {
    x: 795px;
    y: 825px;
  }

}

// 新店線
#green-line {
  .line {

    width: 525.4px;
    height: auto;
    x: 233px;
    y: 471px;
    pointer-events: none;
  }
  .point{
    pointer-events: auto;
  }

  .Songshan {
    x: 730px;
    y: 485px;
  }

  .Nanjing-Sanmin {
    x: 670px;
    y: 485px;
  }

  .Taipei-Arena {
    x: 620px;
    y: 485px;
  }

  .Nanjing-Fuxing {
    x: 550px;
    y: 485px;
  }

  .Songjiang-Nanjing {
    x: 455px;
    y: 485px;
  }

  .Zhongshan {
    x: 355px;
    y: 486px;
  }

  .Beimen {
    x: 285px;
    y: 505px;
  }

  .Ximen {
    x: 285px;
    y: 555px;
  }

  .Xiaonanmen {
    x: 286px;
    y: 620px;
  }

  .Chian-Kai-Shek {
    x: 355px;
    y: 635px;
  }

  .Guting {
    x: 400px;
    y: 670px;
  }

  .Taipower-Building {
    x: 445px;
    y: 705px;
  }

  .Gongguan {
    x: 480px;
    y: 735px;
  }

  .Wanlong {
    x: 510px;
    y: 765px;
  }

  .Jingmei {
    x: 545px;
    y: 795px;
  }

  .Dapinglin {
    x: 585px;
    y: 835px;
  }

  .Qizhang {
    x: 585px;
    y: 885px;
  }

  .Xindian-District-Office {
    x: 585px;
    y: 925px;
  }

  .Xindian {
    x: 585px;
    y: 965px;
  }


}


.info-box {
  position: absolute;
  top: 20px;
  right: 150px;
  background-color: white;
  border: 2px solid #7e3d3d;
  border-radius: 10px;
  padding: 0 20px;
  width: 450px;
  height: auto;
  display: none;


  .icon {
    display: flex;
    margin: 0 70%;

    img {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }

}
#infoContent{
  padding: 5px;
  max-height: 300px;  /* 你可以根据需要调整高度 */
  width: 400px;
  overflow-y: auto;   /* 使内容溢出时出现垂直滚动条 */
  .title-hr{
    border: 0;
    border-top: 2px dotted #a2a9b6;
    &:-webkit-scrollbar {
      width: 8px;
    }
    &:-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    &:-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
  }
  
}
/* 设定infoContent的高度与垂直滚动条 */

/* 如果想要滚动条美化，可以使用如下样式 */






.close-btn {
  display: inline-block;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  float: right;
  border-radius: 3px;

  &:hover {
    background-color: #ff0000;
  }
}