@use 'reset';

main {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

#search-box {
  display: flex;
  flex-direction: column;
  /* 將方向設置為垂直排列 */


  height: auto;
  width: 25%;
  margin-top: 100px;
  padding-left: 20px;


}

.tab {

  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  height: auto;
  display: flex;


  button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

    &:hover {
      background-color: #ddd;
    }

    .active {
      background-color: #ccc;
    }
  }
}


/* Style the tab content */
.tabcontent {

  padding: 0px;
  border: 1px solid #ccc;
  width: 210px;

  height: 300px;
  display: flex;
  flex-direction: column;
}


// map區

#map {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.mrt-svg {

  /* 圖片容器的寬度，可根據需求設置 */
  max-width: 100%;

  height: auto;

  margin: 50px;
  position: relative;


}

.bg {
  opacity:0.8;
}

#red-line {
 
  .line {
    opacity:0;
    width: 689px;
    height: auto;
    x: 70px;
    y: 0px;
  }
  .point{
    width: 28px;
    height: 28px;
  }
  .Xinbeitou{
    x: 110px;
    y: 0px;
  }
  

}

#blue-line{
  .line{
    opacity:0;
    width: 888.5px;
    height: auto;
    x: 90.25px;
    y: 447.15px;
  }
}

#orange-line{
  .line{
    opacity:0;
    width: 544.65px;
    height: auto;
    x: 3.9px;
    y: 227.7px;
  }
}

#yellow-line{
  .line{
    opacity:0;
    width: 650px;
    height: auto;
    x: 19px;
    y: 482px;
  }
  
}
#brown-line{
  .line{
    opacity:0;
    width: 504.6px;
    height: auto;
    x: 490.3px;
    y: 252px;
  }
}
#green-line{
  .line{
    opacity:0;
    width: 525.4px;
    height: auto;
    x: 233px;
    y: 471px;
  }
}